<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="bg-slate-200">
<div class="flex flex-col items-center justify-center h-screen px-4">
    <div class="w-full max-w-md">
        <img class="w-full mb-8" th:src="@{/images/logo-prefeitura.png}" alt="Logo da prefeitura">
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-bold text-gray-900 mb-4">Login</h2>
            <form th:action="@{/gerenciador_de_servico/fiscal/login}" method="post" class="flex flex-col">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="flex flex-col w-full">
                    <label for="matricula" class="text-sm text-slate-700 ">Matrícula</label>
                    <input type="text" name="matricula" id="matricula"
                           placeholder="Ex: 00000-0"
                           class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"/>
                </div>
                <div class="flex flex-col w-full">
                    <label for="senha" class="text-sm text-slate-700 mt-2">Senha</label>
                    <input type="password" name="senha" id="senha"
                           class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"/>
                </div>
                <p class="text-red-400 text-xs mt-1" th:if="${error}" th:text="${error}"></p>
                <button type="submit" class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150">Login</button>
                <div class="mt-4 text-center">
                    <a th:href="@{/gerenciador_de_servico/recuperar-senha}" class="text-sm text-blue-600 hover:underline">Esqueci minha senha?</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
